html{
	overflow-x: hidden ;
}

ul {
	list-style: none ;
}


a{
	text-decoration: none;
	color: white ;
}


.menu {
	background-image: url("img/hacking.jpg");
	font-size: 2em ;
	height: 1150px ;
	margin-top: -50px ;
}

.ms-7{
	margin-left: 7rem ;
}

.mt-7{
	margin-top: 5rem
}

